footer {
    background-color: var(--active-theme-bg);
    color: var(--active-theme-text);

    @media (max-width: 768px) {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .logo-mask {
        background-color: var(--active-theme-text);
    }
}