.menu {
  .title {
    margin-bottom: 150px;
  }
  .menu-items {
    width: 100%;
    max-width: 924px;
    gap: 25px;
  }
  .menu-item-rule {
    flex: 1;
    border-bottom: 1px solid currentColor;
    margin: 0 5px;
  }
  .menu-section-title {
    padding-bottom: 30px;
  }
  .menu-section-image {
    display: flex;
    justify-content: center;
    margin: 170px 0;

    img {
      width: auto;
      max-width: 60%;
      height: auto;
    }
  }
  .warning {
    margin-bottom: 145px;
    .text {
      max-width: 410px;
    }
  }
  &.dinner {
    background-color: #E34F25;
    color: rgb(255, 255, 255);
  }
  &.wine {
    background-color: #F4F2EE;
    color: #161817;
  }
  &.bar {
    background-color: #6D1F1F;
    color: #A7A7A7;
  }
}
