.menu {
  .title {
    margin-bottom: 150px;
  }
  .m-title {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .menu-items {
    width: 100%;
    max-width: 924px;
    gap: 25px;
  }
  .menu-item-rule {
    flex: 1;
    border-bottom: 1px solid currentColor;
    margin: 0 5px;
    @media (max-width: 768px) {
      align-self: center;
    }
  }
  .menu-section-title {
    padding-bottom: 30px;
    @media (max-width: 768px) {
      padding-bottom: 20px;
    }
  }
  .menu-section-image {
    display: flex;
    justify-content: center;
    margin: 170px 0;
    @media (max-width: 768px) {
    margin: 100px 0;
  }

    img {
      width: auto;
      max-width: 60%;
      height: auto;
    }
  }
  .warning {
    margin-bottom: 145px;
    .text {
      max-width: 410px;
    }
  }
}
