.music {
  z-index: 100;
  position: fixed;
  padding: 20px;
  bottom: 0;
  left: 0;
  .album {
    user-select: none;
  }
  .overlay {
    height: 100%;
    position: absolute;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(1);
    }
  }
}
